*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
    font-size: 16px;
}

body{
    min-height: 100vh;
}

main{
    height: 100vh;
    display: grid;
    grid-template-columns: 35% 1fr;
    padding: 16px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    border-radius: 10px;
    gap: 8px;
    box-shadow: 0 0 2px #636363;
    height: fit-content;
}

.form__textbox{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.form__button{
    margin-top: 16px;
    background-color: rgb(73, 73, 252);
    padding: 10px;
    border: 1px solid rgb(73, 73, 252);
    border-radius: 8px;
    color: #fff;
}

.table-container{
    padding: 0 10px;
}

.acciones{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.acciones > i:first-child{
    color: rgb(1, 1, 175);
}

.acciones > i:last-child{
    color: rgb(173, 0, 0);
}

.acciones > i:hover{
    font-size: 16px;
}

.button-externo{
    position: absolute;
    right: 10px;
    top: 0;
}